{% extends "base" %}
{% block title %}{% if title %}{{ title }}{% else %}{{ super() }}{% endif %}{% endblock title %}
{% block head %}
    {{ super() }}
    <script type="text/javascript" src="static/dead-drop.js"></script>
{% endblock head %}
{% block content %}
    {% if note_body %}<input type="hidden" id="ssrbody" value="{{ note_body }}" />{% endif %}
    <div id="notepad"></div>
{% endblock content %}
